???@charset "UTF-8";

/*-------------------------------------------
Slide Menu
-------------------------------------------*/
#drawerMenu {
	position: relative;
}
#drawerMenu #spDrawerMenu {
	position: absolute;
	top: 0;
	right: 0;
	width: 266px;
	height: 100%;
	z-index: 2;
	background: #f0fff7;
	box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
}
#drawerMenu #spDrawerMenu a {
	text-decoration: none;
}
#drawerMenu #spDrawerMenu .globalBlock > dt {
	position: relative;
	background: #d2fde6;
	box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.247059) 10px 0px 10px -4px inset;
	padding: 15px 33px 15px 28px;
}
#drawerMenu #spDrawerMenu .globalBlock > dt > a > span {
	font-size: 1.143em;
 	font-weight: bold;
 	color: #063;
}
#drawerMenu #spDrawerMenu .globalBlock > dt > a > span:after {
	right: 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy > li {
	border-bottom: 1px solid #049147;
}
#drawerMenu #spDrawerMenu .firstHierarchy > li > a {
	display: block;
	position: relative;
	padding: 15px 33px 15px 28px;
	font-size: 1.143em;
	color: #063;
	font-weight: bold;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy {
	background: #04984a;
	padding: 0 15px;
	box-shadow:rgba(0, 0, 0, 0.247059) 10px 5px 10px -4px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.247059) 10px 5px 10px -4px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.247059) 10px 5px 10px -4px inset;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a {
	display: block;
	position: relative;
	padding: 15px 15px 15px 0;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a span:after {
	color: #fff !important;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt {
	border-top: 1px solid #9bd6b7;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li:first-child .categoryBlock dt {
	border: none;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a {
	color: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li {
	margin-bottom: 9px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li > a {
	display: block;
	position: relative;
	padding: 12px 15px 12px 45px;
	background: #f0fff7;
	color: #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
@media screen and (max-width: 767px) {
	a:hover > img,
	a.imgOpacity:hover img,
	a:hover > img.imgOpacityImg,
	a.noImgOpacity:hover img.imgOpacityImg {
		filter:alpha(opacity=100) !important;
	    -moz-opacity: 1.0 !important;
	    opacity: 1.0 !important;
	}
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	header[role="banner"] #headerTop,
	header[role="banner"] #urgencyBox,
	header[role="banner"] #headerInner #spHeaderMenu > ul,
	header[role="banner"] #spHeaderSearch .spHeaderSearchInner {
		padding: 10px 10px 10px 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header[role="banner"] #headerTop {
		display: table;
		width: 100%;
		padding-bottom: 0;
	}
	header[role="banner"] #headerTop > * {
		display: table-cell;
		vertical-align: middle;
	}
	header[role="banner"] #headerInner {
		background: url(/20150313_01/common/images/bg_header01_sp.gif) center 0 no-repeat;
	}
	header[role="banner"] #headerInner .logoWrap {
		float: none;
		width: 160px;
		margin-bottom: 5px;
	}
	header[role="banner"] #headerInner .logoWrap > * {
		padding-left: 0;
	}
	header[role="banner"] #headerInner .logoWrap img {
		width: 120px;
	}
	header[role="banner"] #headerInner {
		width: auto;
		background-size: 300px auto;
		background-position: top 4px right 10px
	}
	header[role="banner"] #headerInner .financialCode {
		display: block;
		position: static;
		padding-left: 30px;
		padding-right: 0;
		border: none;
		color: #000;
	}
	header[role="banner"] #headerInner #spHeaderMenu > ul {
		padding-right: 0;
	}
	header[role="banner"] #headerInner #spHeaderMenu,
	header[role="banner"] #headerInner #spHeaderMenu > ul > li > div {
		display: block !important;
	}
	header[role="banner"] #headerInner #spHeaderMenu > ul > li {
		display: inline-block;
		vertical-align: middle;
	}
	header[role="banner"] #headerGuide,
	header[role="banner"] .headerLeft #gnavArea,
	header[role="banner"] .headerRight .infoNav,
	header[role="banner"] #categoryNav,
	header[role="banner"] #dropDownNav {
		display: none !important;
	}
	header[role="banner"] #headerInner .headerLeft {
		width: 60%;
	}
	header[role="banner"] #headerInner .headerRight {
		width: 40%;
		margin-top: 0;
	}
	header[role="banner"] #spHeaderSearch {
		display: block;
	}
/*-------------------------------------------
Footer
-------------------------------------------*/
	#pageTop {
		right: 10px;
	}
	#pageTop,
	#pageTop > img {
		width: 60px;
		height: 60px;
	}
	footer[role="contentinfo"] {
		margin-bottom: 0;
	}
	footer[role="contentinfo"] #snsArea > dl,
	footer[role="contentinfo"] #footerInfo,
	footer[role="contentinfo"] #footerNav > nav {
		width: 100%;
	}
	footer[role="contentinfo"] #snsArea > dl {
		display: none;
	}	
	footer[role="contentinfo"] #snsArea .spFooterSnsList {
		display: block;
		text-align: center;
		font-size: 0;
	}
	footer[role="contentinfo"] #snsArea .spFooterSnsList > li {
		display: inline-block;
		width: 41px;
		margin-right: 20px;
	}
	footer[role="contentinfo"] #snsArea .spFooterSnsList > li:last-child {
		margin-right: 0;
	}
	footer[role="contentinfo"] #footerInfo {
		margin-top: 0;
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dt {
		display: block;
		margin-bottom: 10px;
		padding-right: 0;
		font-weight: bold;
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dd > dl {
		display: table;
		width: 100%;
		margin-left: 0;
		margin-bottom: 7px;
		font-size: 11px;
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dd > dl > * {
		display: table-cell;
		vertical-align: top;
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dd > dl > dt {
		width: 8em;
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dd > dl > dt span {
		display: inline-block;
		width: 100%;
		padding: 0;
		text-align: center;		
	}
	footer[role="contentinfo"] #footerInfo #resonaInfo > dd > dl > dd {
		width: auto;
	}
	footer[role="contentinfo"] #footerNav {
		display: none;
	}
	footer[role="contentinfo"] #spFooterNav,
	footer[role="contentinfo"] #footerInfo #pcSite,
	footer[role="contentinfo"] #spFooterSearch {
		display: block;
	}
	footer[role="contentinfo"] #spFooterNav > ul {
		border-top: 1px solid #ccc;
		font-size: 0;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li {
		display: inline-block;
		width: 49%;
		margin-left: 1%;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-size: 13px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li:nth-child(even) {
		margin-right: 1%;
		margin-left: 0;
		border-right: none;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li > a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 19px 15px;
		vertical-align: middle;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	footer[role="contentinfo"] #footerInfo .infoNav,
	footer[role="contentinfo"] #footerInfo #pcSite,
	footer[role="contentinfo"] #footerInfo #resonaInfo,
	footer[role="contentinfo"] #footerInfo .resonaGroup {
		margin: 0 14px;
	}
	footer[role="contentinfo"] #footerInfo .infoNav {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	footer[role="contentinfo"] #footerInfo .infoNav > ul {
		width: auto;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo > * {
		float: none;
		width: auto;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo:after {
		content: "";
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup,
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo #copyRight {
		float: none;
		width: auto;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup {
		display: table;
		margin-bottom: 20px;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > * {
		display: table-cell;
		vertical-align: middle;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > dt #svgGroup {
		width: 94px;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup  dd > ul > li {
		margin-right: 0;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > dd a {
		display: block;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > dd #svgResona {
		width: 45px;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > dd #svgSaitama {
		width: 64px;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > dd #svgKinki {
		width: 56px;
	}
	footer[role="contentinfo"] #footerInfo #resonaGroupInfo #copyRight {
		padding: 15px 0;
		background: #049849;
		text-align: center;
		font-size: 0.857em;
		color: #fff;		
	}
	/*-------------------------------------------
	TopicPath
	-------------------------------------------*/
	#topicPath {
		display: none;
	}
	/*-------------------------------------------
	Main Area
	-------------------------------------------*/
	#wrap #mainArea,
	#wrap #mainArea main,
	#wrap #mainArea #sideNav {
		float: none !important;
		width: 100% !important;
	}
	#wrap #mainArea {
		margin-bottom: 0;
	}
	#wrap #mainArea main {
		padding: 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.bnrArea01 {
		background: #fffbea;
		padding: 15px 10px;
	}
	/*-------------------------------------------
	Main Area
	-------------------------------------------*/
	#sideNav .guideArea {
		margin-bottom: 0;
		padding: 15px 10px;
		border-top: 1px solid #ccc;
		border-right: none;
		border-bottom: none;
		border-left: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;		
	}
	#sideNav .guideArea > * {
		margin-bottom: 15px;
		padding: 10px;
		background: #fff;
		border: 1px solid #ccc !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	#sideNav .guideArea .loginArea,
	#sideNav .guideArea .shopGuide {
		text-align: center;
	}
	#sideNav .loginAreaTop {
		display: table;
		width: 100%;
	}
	#sideNav .loginAreaTop > * {
		display: table-cell;
		vertical-align: middle;
	}
	#sideNav .loginAreaTop h2 {
		width: 90px;
		padding: 0 15px;
	}
	#sideNav .loginAreaTop a {
		width: auto;
		padding-right: 0;
	}
	#sideNav .guideMenu {
		padding: 0;	
	}
	#sideNav .guideMenu ul >li {
		padding: 0;
	}
	#sideNav .guideMenu li > a {
		display: block;
		padding: 10px;
	}
	#sideNav .guideMenu ul >li > a:hover {
		background: #fff;
		color: #333;
	}
	#sideNav .subNav {
		padding: 15px 10px;
		background: #04984a;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li > .categoryBlock > dt > a,
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li.noChild > a {
		display: block;
		background: #f0fff7;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a.current,
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li.noChild > a.current {
		background: #e5f4ec!important;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a.current,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a.current {
		color: #333;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li > .categoryBlock > dt[aria-selected="true"] > a {
		-webkit-border-bottom-left-radius: 0;
		-moz-border-bottom-left-radius: 0;
		-ms-border-bottom-left-radius: 0;
		-o-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		-ms-border-bottom-right-radius: 0;
		-o-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#sideNav .subNav .subCategoryDetail,
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li {
		border: none;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li {
		margin-bottom: 10px;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a {
		padding: 10px 15px;
		font-weight: normal;
	}
	#sideNav .subNav .subCategoryDetail .thirdHierarchy > li > a {
		background: #fff;
	}
	#sideNav .subNav .subCategoryDetail .thirdHierarchy > li > a.current {
		background: #e5f4ec;
		font: #063;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li {
		border-color: #04984a;
	}
	#sideNav .subNav .subCategoryDetail .thirdHierarchy > li:last-child > a {
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-ms-border-bottom-left-radius: 5px;
		-o-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-ms-border-bottom-right-radius: 5px;
		-o-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;		
	}
	#sideNav .sideInfo {
		margin-right: 10px;
		margin-left: 10px;
	}
	/*#sideNav .subNav .subCategoryDetail .thirdHierarchy > li > .categoryBlock > dt > a.current*/
	/*-------------------------------------------
	Template
	-------------------------------------------*/
	.simpleTempelate header[role="banner"]  #headerInner{
		background-position: top 4px right 10px
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p {
		width: 100%;
		margin-bottom: 10px;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoThree,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoTwo {
		display: table;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoThree > *,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoTwo > * {
		display: table-cell;
		margin-left: 0;
		padding-left: 2%;
		vertical-align: middle;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoThree > * {
		width: 32.5%;			
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoTwo > * {
		width: 49%;	
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoThree > *:first-child,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p.logoTwo > *:first-child  {
		padding-left: 0;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p {
		width: 100%;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p strong {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > p img {
		display: block;	
		width: auto;		
	}
}