@charset "Shift_JIS";

/*-------------------------------------------
Slide Menu
-------------------------------------------*/
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.noChild > a {
	display: block;
	position: relative;
	padding: 15px 15px 15px 0;
	color: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.noChild {
	border-top: 1px solid #9bd6b7;
}
@media screen and (max-width: 767px) {
	header[role="banner"] #headerInner .logoWrap {
		width: 160px;
	}
	header[role="banner"] #headerInner .logoWrap > h1,
	header[role="banner"] #headerInner .logoWrap > p > strong {
		width: 160px;
	}
	header[role="banner"] #headerInner .logoWrap img {
		width: auto;
	}
	header[role="banner"] #headerInner #spHeaderMenu > ul {
		margin-bottom: 0;
	}
	#sideNav .sideSns .sideSnsList li {
		width: 35px;
		margin-left: 24px;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a {
		font-weight: normal;
		background: #fff;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a {
		padding: 10px 15px;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a {
		padding: 10px 15px 10px 30px;		
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a.current,
	#sideNav .subNav .subCategoryDetail .thirdHierarchy .fourthHierarchy > li > a.current {
		background: #e5f4ec;
		font: #063;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt,
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li {
		border-color: #04984a;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li:last-child .thirdHierarchy > li:last-child .fourthHierarchy > li:last-child > a {
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-ms-border-bottom-left-radius: 5px;
		-o-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-ms-border-bottom-right-radius: 5px;
		-o-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;		
	}

	#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea {
		width: 60%;
	}
	#sideNav #sideStockPriceArea .sideStockPriceInner > .LinkArea  {
		width: 40%;
	}
	#sideNav .readSpeakerArea {
		display: none;
	}
	#sideNav .serviceInfo {
		padding: 15px 10px ;
	}

	.hdBunnerList01 {
		margin: 0 -10px;
		padding: 15px 29px;
	}
	.hdBunnerList01.jsSpCarouselArea .carouselControl{
		display: block;
	}
	.hdLinkList01 > li {
		display: block;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.tableTypeGreen01 tbody tr > * {
		padding: 10px;
	}
	.tableTypeGreen01 tbody tr > th {
		padding-bottom: 0;
		text-align: center;
	}
	footer[role="contentinfo"] {
		margin-top: 40px;
	}
}