@charset "UTF-8";

/*-------------------------------------------
Base Setting
-------------------------------------------*/
footer[role="contentinfo"] #footerNav > .footerGroupService > ul > li > a:hover > img {
	filter:alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}
/*-------------------------------------------
Header Setting
-------------------------------------------*/
header[role="banner"] #headerInner .logoWrap > h1 {
	display: none;
}
header[role="banner"] #headerInner .logoWrap > h1,
header[role="banner"] #headerInner .logoWrap > p > strong {
	width: auto;
	height: auto;
}
header[role="banner"] #headerInner .logoWrap {
	width: 300px;
}
header[role="banner"] #headerInner #headerGuide {
	width: 590px;
}
header[role="banner"] #headerInner #headerGuide .headerRight {
	float: left;
	width: auto;
}
header[role="banner"] #headerTop {
	margin-bottom: 10px;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li.noChild > a {
	display: block;
	position: relative;
	font-weight: bold;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 54px;
	height: 23px;
	color: #fff;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li.noChild > a:hover {
	color: #01894d;
	background: #f0fff7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li.noChild > a.current {
	background: #fff;
	color: #01894d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa01.noChild > a {
	width: 56px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa02 .categoryTitle > a {
	width: 147px;
	padding-left: 41px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .categoryTitle > a {
	width: 158px;
	padding-left: 54px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .categoryTitle > a {
	width: 110px;
	padding-left: 44px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 .categoryTitle > a {
	width: 112px;
	padding-left: 42px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa06.noChild > a {
	width: 68px;
	padding-left: 33px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .dropBlock {
	left: -65px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .dropBlock {
	right: -25px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 .dropBlock {
	right: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa02 .dropBlock .navDropLink {
	background: url(/20150313_01/form/common/images/bg_nav_drop_hd01.gif) no-repeat 585px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .dropBlock .navDropLink {
	background: url(/20150313_01/form/common/images/bg_nav_drop_hd02.gif) no-repeat 585px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .dropBlock .navDropLink {
	background: url(/20150313_01/form/common/images/bg_nav_drop_hd03.gif) no-repeat 585px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 .dropBlock .navDropLink {
	background: url(/20150313_01/form/common/images/bg_nav_drop_hd04.gif) no-repeat 585px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa02 .dropBlock {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-ms-border-top-left-radius: 0;
	-o-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 .dropBlock {
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-ms-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
}
footer[role="contentinfo"] #footerNav > nav > div > ul {
	padding-left: 0;
}
footer[role="contentinfo"] #footerNav > nav > div > ul > li {
	padding-left: 16px;
}
footer[role="contentinfo"] #footerNav ul > li[class^="footerLink"] {
	padding-left: 0;
}
footer[role="contentinfo"] #footerNav ul > li[class^="footerLink"] > a {
	line-height: 20px;
	padding-left: 27px;
}
footer[role="contentinfo"] #footerNav ul > li[class^="footerLink"] > a:before {
	display: none;
}
footer[role="contentinfo"] #footerNav ul > li.footerLinkKids > a {
	background: url(/20150313_01/form/common/images/footer_bg_menu01.gif) 0 center no-repeat;
}
footer[role="contentinfo"] #footerNav ul > li.footerLinkHeart > a {
	background: url(/20150313_01/form/common/images/footer_bg_menu02.gif) 0 center no-repeat;
}
footer[role="contentinfo"] #footerNav ul > li.footerLinkRsn > a {
	background: url(/20150313_01/form/common/images/footer_bg_menu03.gif) 0 center no-repeat;
}
footer[role="contentinfo"] #footerNav > .footerGroupService {
	width: 940px;
	margin: 0 auto;
	padding-bottom: 30px;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul {
	display: table;
	width: 100%;
	background: #fff;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul > li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-left: 1px solid #d9d9d9;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul.nomalLogo {
	border-bottom: 1px solid #d9d9d9;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul > li > a {
	display: table-cell;
	vertical-align: middle;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul.largeLogo > li > a {
	width: 312px;
	height: 60px;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul.nomalLogo > li > a {
	width: 156px;
	height: 40px;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul.nomalLogo > li > a img {
	vertical-align: middle;
}
footer[role="contentinfo"] #footerNav > .footerGroupService > ul.nomalLogo > li.nthChildEven > a {
	width: 155px;
}
footer[role="contentinfo"] #footerInfo .infoNav > ul {
	width: auto;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .fourthHierarchy > li {
	border-top: 1px dotted #ccc;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy > li:last-child > a {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a {
	display: block;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a {
	padding: 5px 15px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a {
	display: block;
	padding: 5px 15px 5px 30px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .fourthHierarchy > li > a:hover {
	color: #9b9b9b;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a.current,
#sideNav .subNav .subCategoryDetail .secondHierarchy .fourthHierarchy > li > a.current {
	background: #e5f4ec;
	color: #01894d;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a.current:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .fourthHierarchy > li > a.current:hover {
	color: #84cda6;
}
#sideNav .serviceInfo > * {
	margin-bottom: 10px;
}
#sideNav .serviceInfo .bankList > li + li {
	margin-top: 10px;
}
#sideNav .serviceInfo .bankList > li a > span {
	padding-left: 0 !important;
}
#sideNav .serviceInfo .bankList > li a img#svgSideLogoResona {
	width: 104px;
}
#sideNav .serviceInfo .bankList > li a img#svgSideLogoSaitama {
	width: 136px;
}
#sideNav .serviceInfo .bankList > li a img#svgSideLogoKinki {
	width: 126px;
}
#sideNav .sideBunnerList {
	text-align: center;
}
#sideNav *[class^="normalBlockA"] > .blockInner > .blockTitle,
#sideNav *[class*=" normalBlockA"] > .blockInner > .blockTitle {
	padding: 10px;
}
#sideNav *[class^="normalBlockA"] > .blockInner > .blockDetail,
#sideNav *[class*=" normalBlockA"] > .blockInner > .blockDetail,
#sideNav .attentionBlock01 > .blockInner,
#sideNav *[class^="strongBlock"] > .blockInner,
#sideNav *[class*=" strongBlock"] > .blockInner {
	padding: 15px 13px
}
#sideNav .sideSns .disT > * {
	vertical-align: top;
}
#sideNav .sideSns .disT > figure {
	width: 50px;
	padding-right: 10px;
}
#sideNav .sideSns .sideSnsList {
	margin-top: 10px;
	text-align: center;
	font-size: 0;
}
#sideNav .sideSns .sideSnsList li {
	display: inline-block;
	width: 30px;
	margin-left: 10px;
}
#sideNav .sideSns .sideSnsList li:first-child {
	margin-left: 0 !important;
}
/*sideStockPriceArea*/
#sideNav #sideStockPriceArea > .blockInner > .blockTitle {
	font-size: 1em;
}
#sideNav #sideStockPriceArea .sideStockPriceInner {
	display: table;
	width: 100%;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > * {
	display: table-cell;
	vertical-align: middle;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea {
	width: 120px;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea > * {
	display: table;
	width: 100%;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea > * > * {
	display: table-cell;
	vertical-align: middle;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea > * > dt {
	width: 3.5em;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea > * > dd {
	text-align: right;
	width: auto;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .valueArea > .currentValues > dd .yen {
	padding-left: 10px;
	font-weight: normal;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .LinkArea {
	padding-left: 10px;
}

.readSpeakerArea,
#sideIrArea {
	display: none;
}
body.hdCategoryTop .readSpeakerArea,
body.hdCategoryTop #sideIrArea {
	display: block;
}
.readSpeakerArea .loginArea a.btnT02.glyphHdVoice > span {
	padding-right: 0;
}

body.hdtopPage header[role="banner"] #headerInner .logoWrap > h1 {
	display: block;
}
body.hdtopPage header[role="banner"] #headerInner .logoWrap > p {
	display: none;
}
/*-------------------------------------------
simple Page Setting
-------------------------------------------*/
.simpleTempelate footer[role="contentinfo"] {
	width: 100%;
	margin-bottom: 0;
	padding: 0;
	line-height: 1;
	background: #fff;
	text-align: center;
}
.simpleTempelate footer[role="contentinfo"] #footerInfo {
	/*margin-bottom: 13px;*/
	padding: 8px 0;
	line-height: 1;
	background: #049849;
	color: #fff;
	text-align: center;
	width: 100%;
}
.simpleTempelate footer[role="contentinfo"] .logoWrap {
	width: 940px;
	margin: 13px auto;
	text-align: left;
	background: url(/webloan/common/images/bg_header01.gif) right 4px top 4px no-repeat;
}
/*-------------------------------------------
En noRwd
-------------------------------------------*/
body.noRwd {
	overflow: auto;
}
/*-------------------------------------------
En Page Setting
-------------------------------------------*/
body.hdLangEn {
	font-family: Arial,Helvetica,sans-serif;
	word-wrap : normal;
	word-break: keep-all;
	line-height: 1.57;
}
body.hdLangEn header[role="banner"] #headerTop {
	margin-bottom: 20px;
}
body.hdLangEn header[role="banner"] #headerInner {
	background: url(/20150313_01/form/common/images/bg_header01_en.gif) right 4px top 0 no-repeat;
}
body.hdLangEn header[role="banner"] #headerInner #headerGuide {
	width: 502px;
}
body.hdLangEn header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li {
	width: 49px;
}
body.hdLangEn header[role="banner"] #headerInner #letterExpansion {
	padding-left: 20px;
}
body.hdLangEn header[role="banner"] #headerInner #letterExpansion dt {
	width: 59px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa02 .categoryTitle > a {
	width: 117px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .categoryTitle > a {
	width: 143px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .categoryTitle > a {
	width: 234px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 > a {
	width: 111px;
	padding-left: 43px;
}
body.hdLangEn footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > ul > li  {
	display: inline;
	padding-left: 22px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .dropBlock {
	left: 0;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .dropBlock .navDropLink {
	background-position: 303px 100%;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .dropBlock {
	right: 0;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa03 .dropBlock {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-ms-border-top-left-radius: 0;
	-o-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa04 .dropBlock {
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-ms-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
}
/*parts*/
body.hdLangEn .dateBlock01 dl > dt,
body.hdLangEn .dateBlock02 dl > dt {
	width: 7em;
}
/*-------------------------------------------
Parts
-------------------------------------------*/
.blockColumn2 > *:nth-child(2n+1),
.blockColumn3 > *:nth-child(3n+1),
.blockColumn4 > *:nth-child(4n+1),
.blockColumn5 > *:nth-child(5n+1) {
	clear: left !important;
	margin-left: 0 !important;
}
.hdH2Title01 {
	margin-bottom: 5px;
	font-size: 1.42em;
}
.hdListNormal01 > li {
	margin-bottom: 10px;
}
.hdLinkList01 > li {
	display: inline-block;
	/*padding-right: 10px;*/
}
.hdLinkList01 > li > a {
	margin-bottom: 0;
}
.dateBlock01 > dl > .haveBtn > * {
	display: table-cell;
	vertical-align: top;
}
.dateBlock01 > dl > .haveBtn > .btn {
	width: 110px;
	padding-left: 10px;
}
.btnT01.iconLarge {
	text-align: center;
	font-weight: normal;
	padding-right: 40px !important;
}
.btnT01.iconLarge > span {
	line-height: 0 !important;
}
.dateBlock01 > dl > .haveBtn > .btn > span.btnT01.iconLarge {
	background: #f2f2f2;
}
.dateBlock01 > dl > .haveBtn > .btn > span.btnT01.iconLarge > span {
	color: #ccc !important;
}

.hdBunnerList01 {
	padding: 0;
}
.hdBunnerList01 > ul {
	margin-left: -15px;
}
.hdBunnerList01 > ul > li {
	float: left;
	margin: 0 0 10px 15px;
}
.hdBunnerList01.jsSpCarouselArea .carouselControl{
	display: none;
}
.searchWordBlock01 dl > dd .keywordList01 li:first-child > a {
	padding-left: 0;
}
/*hdLinkBtnList01*/
.btnT05,
.btnT06 {
	border: 1px solid #d3d3d3;
	background: #fff;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
	-webkit-box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
	-moz-box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
}
.btnT05 {
	display: table;
	width: 100%;
	padding: 0 10px 0 13px;
	height: 80px;
	line-height: 1.1;
	font-size: 1.429em;
	font-weight: bold;
}
.btnT05 > * {
	display: table-cell;
	vertical-align: middle;
}
.btnT05 > figure {
	width: 41px;
	padding-left: 2px;
}
.btnT05 > span {
	padding-left: 5px;
}
*.btnT06 {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	font-weight: bold;
}
*.btnT06.btnWFull {
	width: 100%;
}
*.btnT06:hover {
	margin-bottom: 8px;
}
*.btnT06[class^="icon"],
*.btnT06[class*=" icon"] {
	padding: 30px 10px 7px !important;
}
*.btnT06[class^="glyph"],
*.btnT06[class*=" glyph"] {
	padding: 30px 10px 7px !important;
}
*.btnT06[class^="glyph"] > span,
*.btnT06[class*=" glyph"] > span {
	position: static;
	padding: 0 !important;
}
*.btnT06[class^="icon"].btnWFull > span,
*.btnT06[class*=" icon"].btnWFull > span,
*.btnT06[class^="glyph"].btnWFull > span,
*.btnT06[class*=" glyph"].btnWFull > span {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.btnT05:visited,
.btnT06:visited {
	color: #333
}
.btnT05:hover,
.btnT06:hover {
	background: #ffeee1;
	border: 3px solid #ffb77d;
	text-decoration: none;
}
*.btnT06[class^="icon"]:hover,
*.btnT06[class*=" icon"]:hover {
	padding: 28px 10px 7px 8px !important;
}
*.btnT06[class^="glyph"]:hover,
*.btnT06[class*=" glyph"]:hover {
	padding: 28px 10px 7px 8px !important;
}
*.btnT06[class^="icon"].btnWFull:hover,
*.btnT06[class*=" icon"].btnWFull:hover {
	padding: 28px 10px 7px !important;
}
*.btnT06[class^="glyph"].btnWFull:hover,
*.btnT06[class*=" glyph"].btnWFull:hover {
	padding: 28px 10px 7px !important;
}
.btnT05:hover > figure {
	padding-left: 0;
}

.tableTypeGreen01 {
	border: 1px solid #ccc;
	background: #e5f3ed;
}
.tableTypeGreen01 tr {
	border-top: 1px solid #ccc;
}
.tableTypeGreen01 tbody tr > * {
	/*padding: 5px;*/
	vertical-align: middle;
	border: none;
	background-color: transparent !important;
}
.tableTypeGreen01 tr > th {
	padding-left: 15px;
	text-align: left;
	font-weight: bold;
}
.tableTypeGreen01 tr > td {
	padding-left: 0;
	padding-right: 0;
}
.tableTypeGreen01 tr > td *[class*=" btnT"][class^="glyph"],
.tableTypeGreen01 tr > td *[class^="btnT"][class*=" glyph"],
.tableTypeGreen01 tr > td *[class*=" btnT"][class*=" glyph"] {
	padding-right: 15px;
}
.easy-select-box,
.easy-select-box .esb-dropdown {
	width: auto !important;
}
.easy-select-box .esb-displayer {
	padding-right: 45px;
}
/*width*/
.w01em { width: 1em !important; }
.w02em { width: 2em !important; }
.w03em { width: 3em !important; }
.w04em { width: 4em !important; }
.w05em { width: 5em !important; }
.w06em { width: 6em !important; }
.w07em { width: 7em !important; }
.w08em { width: 8em !important; }
.w09em { width: 9em !important; }
.w10em { width: 10em !important; }
.w11em { width: 11em !important; }
.w12em { width: 12em !important; }
.w13em { width: 13em !important; }
.w14em { width: 14em !important; }
.w15em { width: 15em !important; }
.w16em { width: 16em !important; }
.w17em { width: 17em !important; }
.w18em { width: 18em !important; }
.w19em { width: 19em !important; }
.w20em { width: 20em !important; }

.disT { display: table !important; width: 100%; table-layout: fixed; }
.disT > * { display: table-cell !important; vertical-align: middle; }
/*-------------------------------------------
Font Setting
-------------------------------------------*/
@font-face {
	font-family: 'hdIcon';
	src:url('/20150313_01/form/common/font/icon_hd.eot?bxht3l');
	src:url('/20150313_01/form/common/font/icon_hd.eot?#iefixbxht3l') format('embedded-opentype'),
		url('/20150313_01/form/common/font/icon_hd.woff?bxht3l') format('woff'),
		url('/20150313_01/form/common/font/icon_hd.ttf?bxht3l') format('truetype'),
		url('/20150313_01/form/common/font/icon_hd.svg?bxht3l#icon') format('svg');
}
header[role="banner"] #categoryNav li#navJa01 > a:before,
header[role="banner"] #categoryNav li#navJa02 .categoryTitle > a:before,
header[role="banner"] #categoryNav li#navJa03 .categoryTitle > a:before,
header[role="banner"] #categoryNav li#navJa04 .categoryTitle > a:before,
*[class^="glyphHd"] > span:before,
*[class^="iconHd"] > span:after,
*[class*=" glyphHd"] > span:before,
*[class*=" iconHd"] > span:after {
	font-family: 'hdIcon';
}
#drawerMenu #spDrawerMenu li.noChild > a:after,
header[role="banner"] #categoryNav [role="navigation"] li.noChild > a:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a > span:before {
	font-family: 'icon';
	font-weight: normal;
	color: #049849;
	display: block;
	position: absolute;
	line-height: 1;
}
#drawerMenu #spDrawerMenu li.noChild > a:after {
	content: "\e608";
}
header[role="banner"] #categoryNav li#navJa01 > a:hover:before,
header[role="banner"] #categoryNav li#navJa01 > a:before,
.glyphHdHome > span:before {
	content: "\e904";
}
header[role="banner"] #categoryNav li#navJa02 .categoryTitle > a:hover:before,
header[role="banner"] #categoryNav li#navJa02 .categoryTitle > a:before,
.glyphHdGroup > span:before {
	content: "\e900";
}
header[role="banner"] #categoryNav li#navJa03 .categoryTitle > a:hover:before,
header[role="banner"] #categoryNav li#navJa03 .categoryTitle > a:before,
.glyphHdInvestors > span:before {
	content: "\e903";
}
header[role="banner"] #categoryNav li#navJa04 .categoryTitle > a:hover:before,
header[role="banner"] #categoryNav li#navJa04 .categoryTitle > a:before,
.glyphHdCsr > span:before {
	content: "\e902";
}
header[role="banner"] #categoryNav li#navJa05 .categoryTitle > a:hover:before,
header[role="banner"] #categoryNav li#navJa05 .categoryTitle > a:before,
body.hdLangEn header[role="banner"] #categoryNav li#navJa05 > a:hover:before,
body.hdLangEn header[role="banner"] #categoryNav li#navJa05 > a:before {
	content: "\e900";
}
.glyphDownload02 > span:before {
	content: "\e616";
}
.glyphHdChert > span:before {
	content: "\e901";
}
.glyphHdVoice > span:before {
	content: "\e905";
}
.glyphHdSns > span:before {
	content: "\e90a";
}
.glyphHdRss > span:before {
	content: "\e909";
	color: #fb7d19;
}
.glyphHdAttention01 > span:before {
	content: "\e906";
}
.glyphHdMemo > span:before {
	content: "\e907";
}
.glyphHdMovie > span:before,
.iconHdMovie > span:after {
	content: "\e908";
}
.glyphHdCalendar01 > span:before {
	content: "\e90b";
}
.glyphHdEquity01 > span:before {
	content: "\e90c";
}
.glyphHdBalloon01 > span:before {
	content: "\e90d";
}
.glyphHdGraph01 > span:before {
	content: "\e90e";
}
.glyphHdJapan01 > span:before {
	content: "\e90f";
}
.glyphHdGift01 > span:before {
	content: "\e910";
}
#drawerMenu #spDrawerMenu li.noChild > a:after {
	position: absolute;
	top: 50%;
	right: 2px;
	margin-top: -0.5em;
	color: #fff;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa01.noChild > a:before {
	left: 11px;
}
header[role="banner"] #categoryNav li#navJa02 .categoryTitle > a:before {
	left: 7px;
}
header[role="banner"] #categoryNav li#navJa03 .categoryTitle > a:before {
	top: 5px;
	left: 10px;
	margin-top: 0;
	font-size: 35px;
}
header[role="banner"] #categoryNav li#navJa04 .categoryTitle > a:before {
	left: 8px;
}
header[role="banner"] #categoryNav li#navJa05 .categoryTitle > a:before {
	top: 9px;
	left: 9px;
	margin-top: 0;
	font-size: 24px;
}
body.hdLangEn header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa05 > a:before {
	left: 10px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navJa06.noChild > a:before {
	left: 3px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a > span{
	display: inline-block;
	position: relative;
	padding-left: 1.4em;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a > span {
	display: inline-block;
	position: relative;
	padding-left: 1.4em;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a > span:before {
	content: "\e604";
	font-size: 0.85em;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li.noChild > a > span {
	padding-left: 60px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li.noChild > a > span:before {
	top: 50%;
	left: 14px;
	top: 50%;
	margin-top: -0.5em;
	color: #fff;
	font-size: 25px;
}
header[role="banner"] #categoryNav [role="navigation"] li.noChild > a:before {
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	font-size: 28px;
}
header[role="banner"] #categoryNav [role="navigation"] li.noChild > a:hover:before,
header[role="banner"] #categoryNav [role="navigation"] li.noChild > a.current:before {
	color: #01894d;
}
header[role="banner"] #categoryNav li#navJa06 > a:before {
	content: "\e646";
	left: 10px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a > span:before {
	top: 0.3em;
	left: 0;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .localBlock > dt > a:hover > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy .fourthHierarchy > li > a:hover > span:before {
	color: #84cda6;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .LinkArea a > span {
	display: block;
	padding-left: 0;
}
#sideNav #sideStockPriceArea .sideStockPriceInner > .LinkArea a > span:before {
	position: static;
	font-size: 3em;
	text-align: center;
}
.tabList [role="tablist"] > li > div > *[class^="glyphHd"] {
	position: relative;
}
.tabList [role="tablist"] > li > div > *[class^="glyphHd"] span {
/*	padding-left: 1.4em !important;*/
	padding-left: 0;
	position: static;
}
.tabList [role="tablist"] > li > div > a span:before {
	top: 50%;
	margin-top: -0.5em;
	left: 13px;
	font-size: 1.5em;
	color: #fff;
}
.tabList [role="tablist"] > li > div[aria-selected="true"] > a span:before {
	color: #f00;
}
*[role="tablist"] *[role="tab"] > a > span:after {
	left: auto;
}
.btnT06 > span:before,
.btnT06 > span:after {
	position: absolute;
	top: 5px !important;
	left: 50%;
	margin: 0 0 0 -10px;
	font-size: 20px;
}
.btnT06:hover > span:before,
.btnT06:hover > span:after {
	top: 3px !important;
	margin-left: -11px;
}
.btnT06.btnWFull:hover > span:before,
.btnT06.btnWFull:hover > span:after {
	margin-left: -10px;
}
.btnT02.btnWFull.tLeft.glyphHdSns span {
	padding-left: 44px !important;
}
.btnT02.btnWFull.tLeft.glyphHdSns span:before {
	font-size: 2em;
}
*[class^="btnT"].glyphHdGift01 > span:before {
	left: 11px;
	margin-top: -0.6em;
}
*[class^="btnT"].glyphHdBalloon01 > span:before {
	left: 11px;
	font-size: 1.1em;
}
*[class^="btnT"].glyphHdCalendar01 > span:before {
	left: 13px;
	font-size: 1.1em;
}
*[class^="btnT"].glyphHdInvestors > span:before {
	left: 10px;
	font-size: 1.2em;
}
*[class^="btnT"].glyphHdEquity01  > span:before {
	left: 13px;
	font-size: 1.2em;
}