@charset "UTF-8";
@media screen and (max-width: 767px) {
	.contentInner {
		margin-left: 10px;
		margin-right: 10px;
	}
	/*-------------------------------------------
	column
	-------------------------------------------*/
	.mainNarrow *[class^="column"] .col,
	*[class^="column"] .col {
		float: none;
		width: 100% !important;
		margin-left: 0 !important;
	}
	.column2.columnWide .col + .col	{
		padding-top: 50px;
		background: url(/20150313_01/common/images/bg_arrow_bottom01.png) center 0 no-repeat;
	}
	/*-------------------------------------------
	column customize@parts
	-------------------------------------------*/
	.columnParts01 {
		display: block;
	}
	.col .columnParts01 > *	{
		display: block;
		margin-bottom: 10px;
		padding: 0;
		width: 100% !important;
	}
	/*-------------------------------------------
	blockColumn
	-------------------------------------------*/
	*[class^="blockColumn"] > *,
	*[class^="listColumn"] > li {
		float: none;
		margin: 0 0 10px 0;
		width: 100% !important;
	}
	*[class^="blockColumn"] > *:last-child,
	*[class^="listColumn"] > li:last-child {
		margin-bottom: 0;
	}
	/*-------------------------------------------
	boxBlock
	-------------------------------------------*/
	*[class^="normalBlockA"] .col > .blockInner .blockTitle,
	*[class*=" normalBlockA"] .col > .blockInner .blockTitle {
		padding: 15px 19px;
		border-bottom: 1px solid #d9d9d9;
		font-weight: bold;
	}
	.boxinner01 {
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
	}
	/*relevanceBlock*/
	.relevanceBlock01 > .blockInner > *,
	.relevanceBlock02 > .blockInner > * {
		display: block;
		width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.relevanceBlock01 > .blockInner .blockTitle,
	.relevanceBlock02 > .blockInner .blockTitle {
		border-right: none;
		border-bottom: 1px solid #ccc;
	}
	.searchWordBlock01 dl > dd .keywordList01 li > a {
		padding-left: 0;
	}
	.searchWordBlock01 dl > dd .keywordList01 li > a > span {
		padding-left: 0;
		display: inline;
	}
	/*dateBlock01*/
	.dateBlock02 dl,
	.dateBlock02 dl > *,
	.dateBlock01 dl,
	.dateBlock01 dl > * {
		display: block;
	}
	.dateBlock01 dl > dt,
	.dateBlock02 dl > dt {
		width: 100%;
		margin-bottom: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.dateBlock01 dl > dt.haveIcon > * {
		vertical-align: bottom;
	}
	.dateBlock02 {
		padding: 0;
	}
	.dateBlock02 > dl > * {
		padding: 0 19px 10px;
	}
	.dateBlock02 > dl > dt {
		padding-top: 10px;
		border-top: 1px solid #ccc;
	}
	.dateBlock02 > dl:first-child > dt {
		border: none;
	}
	.telNumberWrap .telNumber {
		display: block;
		margin-bottom: 10px;
	}
	/*tableColumn*/
	.tableColumn {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.tableColumn > * > tr > * {
		display: block;
		width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	/*tableScroll*/
	.tableColumnWrap {
		overflow-x: scroll;
	}
	.tableColumnWrap .tableScroll {
		width: 690px;
	}
	.tableRepeat {
		display: none;
	}	
	table[class*=" jsTR"] {
		display: table;
	}
	/*imgBlock*/
	.imgBlockA01 .text,
	.imgBlockA01 .img,
	.imgBlockA02 .text,
	.imgBlockA02 .img {
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	.imgBlockC01 .clear > *,
	.imgBlockD01 .clear > *,
	.imgBlockC02 .clear > *,
	.imgBlockD02 .clear > *,
	.ratioBlock01.clear > * {
		width: 100% !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	.imgBlockC01 .clear > *:first-child,
	.imgBlockD01 .clear > *:first-child,
	.imgBlockC02 .clear > *:first-child,
	.imgBlockD02 .clear > *:first-child{
		margin-bottom: 10px;
	}
	/*BoximgBlock*/
	.BoximgBlockA01,
	.BoximgBlockA01 > * {
		display: block;
		width: 100% !important;
	}
	.BoximgBlockA01 > .img,
	.imgBlockA02 .img {
		margin-bottom: 10px;
		text-align: center;
		
	}
	.BoximgBlockA01 > .text {
		padding-left: 0;
	}
	/*questionBlock*/
	.questionBlock02 .col {
		margin-bottom: 20px;
	}
	.questionBlock02 .blockInner .questionContent {
		background: none;
		padding: 15px 13px;
	}
	.questionBlock02 .blockInner .icon {
		width: 52px;
		font-size: 30px;
	}
	.questionBlock02 + .questionLink .questionYes,
	.questionBlock02 + .questionLink .questionNo {
		padding-top: 0;
		background: none !important;
	}
	.questionBlock02 + .questionLink .questionYes .select:before,
	.questionBlock02 + .questionLink .questionNo .select:before {
		display: none;
	}
	.questionBlock02 + .questionLink .strongBlockA01.jsAnswerYes,
	.questionBlock02 + .questionLink .strongBlockA01.jsAnswerNo {
		display: block;
	}
	.questionBlockWrap .column1.strongBlockA01.jsAnswerYes .columnInner .col,
	.questionBlockWrap .column1.strongBlockA01.jsAnswerNo .columnInner .col {
		display: none
	}
	/*-------------------------------------------
	List
	-------------------------------------------*/
	.linkList01 li,
	.linkList05 li {
		margin: 0 0 10px 0;
	}
	.linkList05 li {
		display: block;
	}
	.listItemWrap {
		margin-left: -10px;
		margin-right: -10px;
	}
	.listItem02 {
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	.listItem02 > ul {
		border-bottom: none;
		background: #fff
	}
	.listItem02 > ul > li {
		width: 100% !important;
		border-left: none;
		border-right: none;
	}
	.listItem02 > ul > li > h3 > a {
		margin-left: 0 !important;
		margin-right: 0 !important;
		background: #fff;
		color:#323232;
		border-bottom: 1px solid #ccc;
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		-ms-border-radius: 0 !important;
		-o-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	.listItem02 > ul > li > h3 > a:hover {
		background: #fff;
	}
	.listItem02 > ul > li > h3 > a > span {
		display: block;
	}
	.listItem02 > ul > li > h3 > a > span:before {
		color: #049849;
	}
	.listItem02 *[role="tab"] > span:after {
		font-size: 1em !important;
	}
	.listItem02 .itemListInner {
		padding: 0;
	}
	.listItem02 .itemListInner[aria-hidden="false"] {
		display: block;
	}
	.listItem02 .itemListInner > ul > li {
		margin-bottom: 0;
		border-bottom: 1px solid #ccc;		
	}
	.listItem02 > ul > li > h3 > a,
	.listItem02 > ul > li .itemListInner .linkList02 > li > a {
		padding: 13px 15px;
		display: block;
	}
	.listItem02 > ul > li .itemListInner .linkList02 > li > a {
		display: block;
		padding-left: 50px;		
	}
	.listItem02 > ul > li .itemListInner .linkList02 > li > a:before {
		top: 50%;
		left: 30px;
		margin-top: -0.5em;
	}
	/*-------------------------------------------
	Tab
	-------------------------------------------*/
	.tabList [role="tablist"] > li {
		display: block;
		margin-bottom: 10px;
	}
	.tabList [role="tablist"] > li > dl {
		display: block;
		width: 100%;		
		border: 1px solid #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		box-shadow:rgba(0, 0, 0, 0.0980392) 0px 8px 2px -5px;
		-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0px 8px 2px -5px;
		-moz-box-shadow:rgba(0, 0, 0, 0.0980392) 0px 8px 2px -5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.tabList [role="tablist"] [role="tab"] > a br {
		display: none;
	}
	.tabList [role="tablist"] > li > dl > dt {
		background: #e4fbef;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	.tabList [role="tablist"] > li > dl > dt[role="tab"][aria-selected="true"] {
		background: #049849;
		border-bottom: 1px solid #ccc;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-bottom-left-radius: 0;
		-ms-border-bottom-left-radius: 0;
		-o-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		-ms-border-bottom-right-radius: 0;
		-o-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.tabList [role="tablist"] > li > dl > dt[role="tab"][aria-selected="true"] > a {
		color: #fff;
	}
	.tabList [role="tablist"] > li > dl > dt[role="tab"] > a {
		display: block;
		padding: 10px 12px 10px 15px;
		font-weight: bold;
	}
	.tabList [role="tablist"] > li > dl > dt[role="tab"] > a > span {
		position: relative;
		padding-right: 1em;
	}
	.tabList ul[role="tablist"] > li > dl > dd {
		border: none;
	}
	.tabList *[role="tablist"] *[role="tab"] > a > span:after {
		display: block !important;
	}
	.tabTitle > * {
		float: none;
		width: 100% !important;
		margin-left: 0;
	}
	/*-------------------------------------------
	frame
	-------------------------------------------*/
	.frameWindowBlock {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
		overflow-x: hidden;	
		padding: 10px 10px 50px 10px;
	}
	.frameWindowBlock:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 4px;
		height: 20px;
		background: url(/20150313_01/common/images/bg_frame_sp.svg) 0 0 no-repeat;
		background-size: 100%;
	}
	.frameWindowBlock.active {
		padding-bottom: 10px;
	}
	.frameWindowBlock.active:before {
		display: none;
	}
	.frameWindowBlock > p > .btnT01.accSwitch {
		display: inline-block;
		width: auto;
		padding: 3px 26px 3px 5px !important;
	}
	.frameWindowBlock > p > .btnT01.accSwitch > span {
		padding: 0 0 0 20px !important;
	}
	.frameWindowBlock > p > .btnT01.accSwitch > span:before {
		left: 5px !important;
	}
	.frameWindowBlock > .frameWindowInner {
		padding: 10px;
		height: 200px;
		overflow: hidden;
	}
	.frameWindowBlock.active > .frameWindowInner {
		height: auto;
	}
	.frameWindowBlock .accTitle + .accDefaultOpen {
		position: relative;
		padding-bottom: 40px;
	}
	/*-------------------------------------------
	Carousel
	-------------------------------------------*/
	.carouselBlock01 .carouselList {
		text-align: center;
	}
	.carouselBlock01 {
		background: transparent;
	}
	.carouselBlock01 .carouselList > li {
		width: 100%;
	}
	.carouselBlock01 .carouselList > li > a {
		background: transparent;
	}
	.carouselBlock01 .carouselControl {
		display: table;
		width: 100%;
		height: auto;
		margin-top: 10px;
	}
	.carouselBlock01 .carouselControl:before {
		display: none;
	}
	.carouselBlock01 .carouselControl > .carousePager {
		width: auto;
		height: auto;
		padding: 0 5px;
	}
	.carouselBlock01 .carouselControl > .carousePager > ul li {
		display: inline-block;
		float: none;
		width: auto;
		height: auto;
		margin: 0 4px;
	}
	.carouselBlock01 .carouselControl > .carousePager,
	.carouselBlock01 .carouselControl > .carouselBtn {
		display: table-cell;
		position: static;
		vertical-align: middle;		
	}
	.carouselBlock01 .carouselControl > .carousePager > ul {
		position: static;
		width: auto;
		height: auto;
		text-align: center;
		font-size: 0;
	}
	.carouselBlock01 .carouselControl > .carousePager > ul li {
		font-size: 14px;
	}
	.carouselBlock01 .carouselControl > .carousePager > ul li > a {
		background: transparent !important;
		border: none;
		color: #ccc;
	}
	.carouselBlock01 .carouselControl > .carousePager > ul li > a.select,
	.carouselBlock01 .carouselControl > .carousePager > ul li > a.active {
		color: #049849;
	}
	.carouselBlock01 .carouselControl > .carousePager > ul li > a > span {
		display: none;
	}
	.carouselBlock01 .carouselControl > .carouselBtn {
		width: 24px;
		text-align: center;
	}
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselPrev,
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselNext {
		display: none;
	}
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselStop:before,
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselPlayback:before {
		position: static;
		border: 1px solid #d2d2d2;
		margin-top: 0;
		padding: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	/*-------------------------------------------
	btn
	-------------------------------------------*/
	.btnT01,
	.btnT02,
	.btnT03 {
		width: 100%;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.btnT04,
	.btnT04 > * {
		display: block;
	}
	.btnT04 .title,
	.btnT04 .detail {
		width: 100% !important;
		text-align: center;
	}
	.btnArea01 .btnAreaImg {
		display: none;
	}
	.btnArea01 ul > li {
		position: static;
	}

	.spEnlargeWrap {
		display: inline-block;
		position: relative;
		max-width: 100%;
	}
	.spEnlargeWrap .spEnlargeSwitch {
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		width: 44px;
		height: 44px;
	}
	.newsSelectWrap > * {
		display: block;
		width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.newsSelectWrap > * + * {
		margin-top: 20px;
	}
	/*-------------------------------------------
	Ballon
	-------------------------------------------*/	
	.mapBalloonWrap .pcMapBalloon {
		display: none;
	}
	.mapBalloonWrap .spMapBalloon {
		display: block;
	}
	/*-------------------------------------------
	Title
	-------------------------------------------*/
	h2.h2Title01 {
		margin-left: -10px;
		margin-right: -10px;
		padding: 4px 0;
		border-left: none;
		border-right: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;	
	}
	h2.h2Title01 .titleInner {
		padding-left: 25px;
	}
	h2.h2Title01 .titleInner:before {
		left: 5px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	h2.h2Title03 {
		margin-bottom: 0;
		padding: 12px 15px;
		background: #049849;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		color: #fff;		
	}
	.easy-select-box .esb-dropdown .esb-item {
		line-height: 1.1;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/*-------------------------------------------
	Parts
	-------------------------------------------*/
	.pcContent,
	table.pcContent,
	img.pcContent,
	span.pcContent,
	br.pcContent,
	.pcContentInline { display: none !important }
	.spContent { display: block !important }
	table.spContent { display: table !important }
	img.spContent,
	span.spContent,
	br.spContent,
	.spContentInline { display: inline !important }	
	/*width*/
	.spW01p { width: 1% !important; }
	.spW02p { width: 2% !important; }
	.spW03p { width: 3% !important; }
	.spW04p { width: 4% !important; }
	.spW05p { width: 5% !important; }
	.spW06p { width: 6% !important; }
	.spW07p { width: 7% !important; }
	.spW08p { width: 8% !important; }
	.spW09p { width: 9% !important; }
	.spW10p { width: 10% !important; }
	.spW11p { width: 11% !important; }
	.spW12p { width: 12% !important; }
	.spW13p { width: 13% !important; }
	.spW14p { width: 14% !important; }
	.spW15p { width: 15% !important; }
	.spW16p { width: 16% !important; }
	.spW17p { width: 17% !important; }
	.spW18p { width: 18% !important; }
	.spW19p { width: 19% !important; }
	.spW20p { width: 20% !important; }
	.spW21p { width: 21% !important; }
	.spW22p { width: 22% !important; }
	.spW23p { width: 23% !important; }
	.spW24p { width: 24% !important; }
	.spW25p { width: 25% !important; }
	.spW26p { width: 26% !important; }
	.spW27p { width: 27% !important; }
	.spW28p { width: 28% !important; }
	.spW29p { width: 29% !important; }
	.spW30p { width: 30% !important; }
	.spW31p { width: 31% !important; }
	.spW32p { width: 32% !important; }
	.spW33p { width: 33% !important; }
	.spW34p { width: 34% !important; }
	.spW35p { width: 35% !important; }
	.spW36p { width: 36% !important; }
	.spW37p { width: 37% !important; }
	.spW38p { width: 38% !important; }
	.spW39p { width: 39% !important; }
	.spW40p { width: 40% !important; }
	.spW41p { width: 41% !important; }
	.spW42p { width: 42% !important; }
	.spW43p { width: 43% !important; }
	.spW44p { width: 44% !important; }
	.spW45p { width: 45% !important; }
	.spW46p { width: 46% !important; }
	.spW47p { width: 47% !important; }
	.spW48p { width: 48% !important; }
	.spW49p { width: 49% !important; }
	.spW50p { width: 50% !important; }
	.spW51p { width: 51% !important; }
	.spW52p { width: 52% !important; }
	.spW53p { width: 53% !important; }
	.spW54p { width: 54% !important; }
	.spW55p { width: 55% !important; }
	.spW56p { width: 56% !important; }
	.spW57p { width: 57% !important; }
	.spW58p { width: 58% !important; }
	.spW59p { width: 59% !important; }
	.spW60p { width: 60% !important; }
	.spW61p { width: 61% !important; }
	.spW62p { width: 62% !important; }
	.spW63p { width: 63% !important; }
	.spW64p { width: 64% !important; }
	.spW65p { width: 65% !important; }
	.spW66p { width: 66% !important; }
	.spW67p { width: 67% !important; }
	.spW68p { width: 68% !important; }
	.spW69p { width: 69% !important; }
	.spW70p { width: 70% !important; }
	.spW71p { width: 71% !important; }
	.spW72p { width: 72% !important; }
	.spW73p { width: 73% !important; }
	.spW74p { width: 74% !important; }
	.spW75p { width: 75% !important; }
	.spW76p { width: 76% !important; }
	.spW77p { width: 77% !important; }
	.spW78p { width: 78% !important; }
	.spW79p { width: 79% !important; }
	.spW80p { width: 80% !important; }
	.spW81p { width: 81% !important; }
	.spW82p { width: 82% !important; }
	.spW83p { width: 83% !important; }
	.spW84p { width: 84% !important; }
	.spW85p { width: 85% !important; }
	.spW86p { width: 86% !important; }
	.spW87p { width: 87% !important; }
	.spW88p { width: 88% !important; }
	.spW89p { width: 89% !important; }
	.spW90p { width: 90% !important; }
	.spW91p { width: 91% !important; }
	.spW92p { width: 92% !important; }
	.spW93p { width: 93% !important; }
	.spW94p { width: 94% !important; }
	.spW95p { width: 95% !important; }
	.spW96p { width: 96% !important; }
	.spW97p { width: 97% !important; }
	.spW98p { width: 98% !important; }
	.spW99p { width: 99% !important; }
	.spW100p { width: 100% !important; }

	/*-------------------------------------------
	Text
	-------------------------------------------*/
	/*align*/
	.spTCenter { text-align: center !important; }
	.spTLeft { text-align: left !important; }
	.spTRight { text-align: right !important; }	

	/*size*/
	.fsMaximum { font-size: 1.286em !important; } /*18px*/
	.fsLarge { font-size: 1.143em !important; } /*16px*/
	.fsMiddle { font-size: 1em !important; } /*14px*/
	.fsSmall { font-size: 0.857em !important; } /*12px*/
}