@charset "UTF-8";

/*-------------------------------------------
Base Setting
-------------------------------------------*/
html{font-size:62.5%;}
body,select,input,textarea{ font:14px Helvetica,Arial,Tahoma,sans-serif;
font-family:"‚l‚r ‚oƒSƒVƒbƒN","MS PGothic",sans-serif;line-height:1.7;color:#333;-webkit-text-size-adjust:none; }
a{color:#063; cursor: pointer;}
a:link{text-decoration:none;}
a:visited{color:#328500;text-decoration:none;}
a:hover{color:#ed6d34;}
caption{margin-bottom:5px;text-align:left;}
ins{background-color:#fcd700;color:#000;text-decoration:none;}
mark{background-color:#fcd700;color:#000;font-style:italic;font-weight:bold;}
textarea{resize:vertical;}
address{font-style:normal;}
em{font-style:normal;}
legend{display:none;}
table {text-align: left;font-weight: normal;}
th,td{font-weight: normal;}
body{background:#ffffff; word-break: break-all; }
img { max-width: 100%; }
p > img { vertical-align: middle; }

a:hover > img,
a.imgOpacity:hover img,
a:hover > img.imgOpacityImg,
a.noImgOpacity:hover img.imgOpacityImg,
a.hover > .spEnlargeWrap >img {
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
a.noImgOpacity:hover img,
a:hover > img.noImgOpacityImg,
a.imgOpacity:hover img.noImgOpacityImg,
.resonaGroup a img {
	filter:alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#btnSpPage {
	display: none;
}
#btnSpPage .btnT02 {
	width: 100%;
	text-align: center;
	font-size: 60px;
}
#spDrawerMenu {
	display: none;
}
header[role="banner"] #headerInner {
	width: 940px;
	margin: 0 auto;
	padding-top: 13px;
	background: url(/webloan/common/images/bg_header01.gif) right 4px top 4px no-repeat;
}
header[role="banner"] #headerInner:before,
header[role="banner"] #headerInner:after,
header[role="banner"] #headerTop:before,
header[role="banner"] #headerTop:after {
	content: " ";
	display: table;
}
header[role="banner"] #headerInner:after,
header[role="banner"] #headerTop:after {
	clear: both;
}
header[role="banner"] #headerInner,
header[role="banner"] #headerTop {
	*zoom: 1;
}
header[role="banner"] #headerTop {
	margin-bottom: 1px;
}
header[role="banner"] #headerInner .headerLeft,
header[role="banner"] #headerInner .logoWrap {
	float: left;
	width: 550px;
}
header[role="banner"] #headerInner .headerRight,
header[role="banner"] #headerInner #headerGuide {
	float: right;
	width: 386px;
}

header[role="banner"] #headerInner .logoWrap {
	position: relative;
	margin: 0 0 10px;
}
header[role="banner"] #headerInner .logoWrap > h1,
header[role="banner"] #headerInner .logoWrap > p > strong {
	display: block;
	width: 168px;
	height: 44px;
}
header[role="banner"] #headerInner .logoWrap > * {
	padding-left: 5px;
}
header[role="banner"] #headerInner .logoWrap a:hover img {
	filter:alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}
header[role="banner"] #headerInner .financialCode {
	position: absolute;
	top: 8px;
	left: 184px;
	border: 1px solid #d3d3d3;
	padding: 4px 6px;
	line-height: 1;
	font-size: 0.857em;
	color: #666;
}
header[role="banner"] #headerInner #headerGuide {
	display: inline-block;
	margin-top: 24px;
	padding-right: 4px;
	text-align: right;
}
header[role="banner"] #headerInner #spHeaderMenu {
	display: none;
}
/*global navigation*/
header[role="banner"] #gnavArea > ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}
header[role="banner"] #gnavArea > ul > li {
	display: table-cell;
	border-top: 1px solid #50b780;
	border-right: 1px solid #50b780;
	text-align: center;
}
header[role="banner"] #gnavArea > ul > li:hover,
header[role="banner"] #gnavArea > ul > li.current {
	border-top: 1px solid #049849;
	border-right: 1px solid #049849;
}
header[role="banner"] #gnavArea > ul > li#nav01 {
	border-left: 1px solid #50b780;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}
header[role="banner"] #gnavArea > ul > li#nav04 {
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
header[role="banner"] #gnavArea > ul > li > a {
	display: block;
	height: 22px;
	padding: 3px 0 4px;
	background: #f0fff7;
	font-size: 14px;
	font-weight: bold;
	color: #01894d;
}
header[role="banner"] #gnavArea > ul > li > a:hover,
header[role="banner"] #gnavArea > ul > li.current > a {
	color: #fff;
}
header[role="banner"] #gnavArea > ul > li.current > a {
	background: #049849;
}
header[role="banner"] #gnavArea > ul > li > a:hover {
	text-decoration: none;
	background: #36ad6d;
}
header[role="banner"] #gnavArea > ul > li#nav01 {
	width: 123px;
}
header[role="banner"] #gnavArea > ul > li#nav02 {
	width: 123px;
}
header[role="banner"] #gnavArea > ul > li#nav03 {
	width: 150px;
}
header[role="banner"] #gnavArea > ul > li#nav04 {
	width: 149px;
}
header[role="banner"] #gnavArea > ul > li#nav01 > a {
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-ms-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
header[role="banner"] #gnavArea > ul > li#nav04 > a {
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
header[role="banner"] #headerInner .headerRight {
	float: right;
	width: 390px;
	margin-top: 2px;
}
header[role="banner"] #headerInner #headerSearch,
header[role="banner"] #headerInner #letterExpansion {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
header[role="banner"] #headerInner #headerGuide #headerSearch {
	position: relative;
	width: 171px;
}
header[role="banner"] #headerInner #headerGuide #headerSearch *[type="search"],
header[role="banner"] #headerInner #headerGuide #headerSearch *[type="text"] {
	width: 144px;
	min-height: 24px;
	padding: 0 7px;
	border: 1px solid #d3d3d3;
	border-right: none;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
header[role="banner"] #headerInner #headerGuide #headerSearch > input + button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 24px;
	padding: 0;
	border: none;
	background: #ed6d34;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;

}
header[role="banner"] #headerInner #headerGuide #headerSearch > input + button:hover {
	background: #f29971;
}
header[role="banner"] #headerInner #headerGuide #headerSearch > input + button img {
	vertical-align: middle;
}
header[role="banner"] #headerInner #letterExpansion {
	padding-left: 23px;
}
header[role="banner"] #headerInner #letterExpansion > dl {
	display: table;
	table-layout: fixed;
}
header[role="banner"] #headerInner #letterExpansion > dl > * {
	display: table-cell;
}
header[role="banner"] #headerInner #letterExpansion dt {
	width: 66px;
	font-size: 0.857em;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul {
	display: table;
	table-layout: fixed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li {
	width: 40px;
	text-align: center;
	display: table-cell;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li > a {
	display: block;
	border: 1px solid #01894d;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-ms-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-ms-border-bottom-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li a {
	border-left: none;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li:first-child a {
	border-left: 1px solid #005e34;
	border-right: none;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li > a {
	display: block;
	padding: 0 5px;
	font-size: 0.929em;
	font-weight: bold;
	color: #008c53;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li a.select,
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li a:hover {
	background: #049849;
	color: #fff;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li a.select {
	border: 1px solid #005e34;
}
header[role="banner"] #headerInner #letterExpansion > dl > dd > ul > li a:hover {
	text-decoration: none;
}
header[role="banner"] #headerInner #urgencyBox {
	margin-bottom: 10px;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul {
	text-align: right;
	font-size: 0;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul > li {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	font-size: 12px;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul > li > a {
	color: #333;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul > li > a:hover {
	color: #ed6d34;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul > li > a:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 1em;
	margin-top: -0.5em;
	background: #c9c9c9;
}
header[role="banner"] #headerInner .headerRight .infoNav > ul > li:first-child > a:before {
	display: none;
}
header[role="banner"] #categoryNav {
	position: relative;
	height: 44px;
	padding: 3px 0;
	background: #049849;
}
header[role="banner"] #categoryNav.noContent {
	height: auto;
}
header[role="banner"] #categoryNav:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -3px;
	width: 100%;
	height: 3px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(157,156,156,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(157,156,156,0.1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(157,156,156,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(157,156,156,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(157,156,156,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(157,156,156,0.1) 100%);
}
header[role="banner"] #categoryNav nav[role="navigation"] {
	width: 940px;
	margin: 0 auto;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul {
	padding: 0 5px;
	font-size: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li {
	position: relative;
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	font-size: 14px;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li:first-child {
	margin-left: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a {
	display: block;
	position: relative;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 54px;
	height: 23px;
	color: #fff;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a.select,
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a.current {
	color: #01894d;

}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a.current {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a.anime {
	background: #049849;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-ms-border-bottom-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-ms-border-bottom-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
}
header[role="banner"] #categoryNav nav[role="navigation"] > ul > li .categoryTitle > a.select {
	position: relative;
	background: #f0fff7;
	text-decoration: none;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-ms-border-bottom-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-ms-border-bottom-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin01 .categoryTitle > a {
	width: 120px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin02 .categoryTitle > a {
	width: 132px;
	padding-left: 46px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin03 .categoryTitle > a {
	width: 119px;
	padding-left: 51px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin04 .categoryTitle > a {
	width: 156px;
	padding-left: 44px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin05 .categoryTitle > a {
	width: 150px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin01 .categoryTitle > a {
	width: 140px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin02 .categoryTitle > a {
	width: 84px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin03 .categoryTitle > a {
	width: 84px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin04 .categoryTitle > a {
	width: 160px;
	padding-left: 50px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin01 .categoryTitle > a {
	width: 129px;
	padding-left: 55px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin02 .categoryTitle > a {
	width: 129px;
	padding-left: 55px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin03 .categoryTitle > a {
	width: 135px;
	padding-left: 55px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin04 .categoryTitle > a {
	width: 79px;
	padding-left: 55px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin05 .categoryTitle > a {
	width: 95px;
	padding-left: 55px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock {
	display: none;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.anime {
	display: table;
	position: absolute;
	top: 14px;
	opacity: 0;
	-webkit-transition: top 280ms cubic-bezier(0.190, 1.000, 0.220, 1.000),opacity 100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: top 280ms cubic-bezier(0.190, 1.000, 0.220, 1.000),opacity 100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: top 280ms cubic-bezier(0.190, 1.000, 0.220, 1.000),opacity 100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: top 280ms cubic-bezier(0.190, 1.000, 0.220, 1.000),opacity 100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	padding: 20px 0 11px;
	background: #f0fff7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 100;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.select {
	display: block;
	position: absolute;
	top: 44px;
	opacity: 1;
	z-index: 100;
	padding: 20px 0 11px;
	background: #f0fff7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin01 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin01 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin02 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin03 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin01 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin02 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin03 .dropBlock {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-ms-border-top-left-radius: 0;
	-o-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin04 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin05 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin05 .dropBlock {
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-ms-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropCatLine02 {
	width: 701px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine01 {
	width: 533px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine02 {
	width: 800px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin01 .dropBlock {
	left: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin02 .dropBlock {
	left: -38px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin03 .dropBlock {
	left: -218px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin04 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin05 .dropBlock {
	right: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin04 .dropBlock {
	right: -258px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin01 .dropBlock,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin02 .dropBlock ,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin03 .dropBlock {
	left: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin04 .dropBlock {
	right: -125px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin05 .dropBlock {
	right: 0;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink {
	padding-right: 165px;
	background-repeat: no-repeat;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropCatLine01 .navDropLink {
	background-position: 300px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropCatLine02 .navDropLink {
	background-position: 540px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin01 .dropBlock .navDropLink {
	background: url(/20150313_01/common/images/bg_nav_drop_kojin01.gif) no-repeat 307px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin02 .dropBlock .navDropLink {
	background: url(/20150313_01/common/images/bg_nav_drop_kojin02.gif) no-repeat 585px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin03 .dropBlock .navDropLink {
	background: url(/20150313_01/common/images/bg_nav_drop_kojin03.gif) no-repeat 567px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin04 .dropBlock .navDropLink {
	background: url(/20150313_01/common/images/bg_nav_drop_kojin04.gif) no-repeat 319px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navKojin05 .dropBlock .navDropLink {
	background: url(/20150313_01/common/images/bg_nav_drop_kojin05.gif) no-repeat 582px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin01 .dropBlock .navDropLink {
	background: url(/hojin/images/bg_nav_drop_hojin01.gif) no-repeat 317px 100%
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin02 .dropBlock .navDropLink {
	background: url(/hojin/images/bg_nav_drop_hojin02.gif) no-repeat 307px 100%
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin03 .dropBlock .navDropLink {
	background: url(/hojin/images/bg_nav_drop_hojin03.gif) no-repeat 570px 100%
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navHojin04 .dropBlock .navDropLink {
	background: url(/hojin/images/bg_nav_drop_hojin04.gif) no-repeat 580px 100%
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin01 .dropBlock .navDropLink {
	background: url(/nenkin/images/bg_nav_drop_nenkin01.gif) no-repeat 317px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin02 .dropBlock .navDropLink {
	background: url(/nenkin/images/bg_nav_drop_nenkin02.gif) no-repeat 307px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin03 .dropBlock .navDropLink {
	background: url(/nenkin/images/bg_nav_drop_nenkin03.gif) no-repeat 290px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin04 .dropBlock .navDropLink {
	background: url(/nenkin/images/bg_nav_drop_nenkin04.gif) no-repeat 578px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li#navNenkin05 .dropBlock .navDropLink {
	background: url(/nenkin/images/bg_nav_drop_nenkin05.gif) no-repeat 566px 100%;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine01 .navDropLink,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine02 .navDropLink {
	padding-right: 0;
	background: none !important;
	float: left;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine01 .navDropLink {
	width: 267px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock.dropBannerLine02 .navDropLink {
	width: 534px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul ,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropBunner {
	width: 266px;
	float: left;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul {
	float: left;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropBunner {
	text-align: center;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropBunner > ul > li + li {
	margin-top: 10px;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul {
	min-height: 150px;
	border-right: 1px solid #a9e0c2;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul > li {
	margin: 0 20px 12px;
	padding-top: 12px;
	border-top: 1px dotted #b3b3b3;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul > li:first-child {
	padding-top: 0;
	border-top: none;
}
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .dropBlock .navDropLink > ul > li > a {
	padding-left: 1.4em;
	line-height: 1.2;
	font-weight: bold;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a > span {
	position: relative;
	vertical-align: middle;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li {
	margin-top: 20px;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li:first-child {
	margin-top: 0;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a {
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a > span {
	display: table-cell;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li.line01 > a {
	height: 100px;
}

header[role="banner"] #headerInner #spHeaderMenu > ul {
	text-align: right;
	font-size: 0;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 12px;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li:last-child {
	margin-right: 0;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li > a > span {
	text-align: center;
}
header[role="banner"] #headerInner #spHeaderMenu > ul {
	padding-right: 0;
	text-align: right;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li > a {
	font-size: 0.85em;
	color: #333;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li > a span:before {
	position: static;
	display: block;
	width: 35px;
	margin: 0 auto;
	padding: 7px 0;
	background: #04984a;
	font-size: 18px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
	-webkit-box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
	-moz-box-shadow:rgb(229, 229, 229) 0px 3px 2px 0px;
}
header[role="banner"] #headerInner #spHeaderMenu > ul > li > a span {
	padding-left: 0;
}
header[role="banner"] #spHeaderSearch {
	display: none;
}
header[role="banner"] #spHeaderSearch {
	border-top: 3px solid #04984a;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner {
	display: block;
	background: #04984a;
}
header[role="banner"] #spHeaderSearch input[type="search"] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner {
	display: none;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner.select {
	display: block;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner form {
	display: table;
	width: 100%;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner form > * {
	display: table-cell;
	vertical-align: middle;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner .input > input {
	width: 100%;
	padding: 7px 10px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner .button {
	width: 3em;
	padding-left: 10px;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner .button > button {
	display: block;
	width: 100%;
	padding: 8px 0 8px;
	background: #ee6d34;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
header[role="banner"] #spHeaderSearch .spHeaderSearchInner .button > button img {
	width: 17px;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#pageTop {
	position: fixed;
	bottom: 10px;
	right: 80px;
	width: 90px;
	height: 90px;
	z-index: 1;
}
footer[role="contentinfo"] {
	margin-bottom: 18px;
}
footer[role="contentinfo"] a {
	text-decoration: none;
	color: #333;
}
footer[role="contentinfo"] a:hover {
	color: #ed6d34;
}
footer[role="contentinfo"] #snsArea > dl,
footer[role="contentinfo"] #footerInfo,
footer[role="contentinfo"] #footerNav > nav {
	width: 940px;
	margin: 0 auto;
}
footer[role="contentinfo"] #snsArea {
	padding: 11px 0 9px;
	background: #049849;
	border-top: 1px solid #d9d9d9;
	border-top: 1px solid #bfbfbf;
	color: #fff;
}
footer[role="contentinfo"] #snsArea > dl {
	display: table;
}
footer[role="contentinfo"] #snsArea > dl > * {
	display: table-cell;
	vertical-align: middle;
}
footer[role="contentinfo"] #snsArea > dl > dt {
	min-height: 26px;
	padding-left: 50px;
	background: url(/20150313_01/common/images/footer_sns_title.gif) 0 center no-repeat;
}
footer[role="contentinfo"] #snsArea > dl > dt > a {
	color: #fff;
	font-weight: bold;
}
footer[role="contentinfo"] #snsArea > dl > dt > a:hover {
	color: rgba(255,255,255,0.8);
}
footer[role="contentinfo"] #snsArea > dl > dd {
	width: 660px;
	text-align: right;
}
footer[role="contentinfo"] #snsArea .footerSnsList > li {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
footer[role="contentinfo"] #snsArea .footerSnsList > li > a {
	display: table;
	color: #fff;
	font-weight: bold;
}
footer[role="contentinfo"] #snsArea .footerSnsList > li > a:hover {
	color: rgba(255,255,255,0.8);
}
footer[role="contentinfo"] #snsArea .footerSnsList > li > a > * {
	display: table-cell;
	vertical-align: middle;
}
footer[role="contentinfo"] #snsArea .footerSnsList > li > a > span {
	padding: 0 22px 0 8px;
	line-height: 1.1;
	font-size: 0.857em;
}
footer[role="contentinfo"] #snsArea .spFooterSnsList {
	display: none;
}
footer[role="contentinfo"] #footerNav {
	padding-top: 17px;
	border-top: 1px solid #c7cec7;
	background: #e2ebe3
}
footer[role="contentinfo"] #spFooterNav,
footer[role="contentinfo"] #spFooterSearch {
	display: none;
}
footer[role="contentinfo"] #footerNav > nav > div {
	float: left;
	width: 220px;
	margin-right: 15px;
}
footer[role="contentinfo"] #footerNav > nav h2 {
	margin-bottom: 10px;
	font-weight: bold;
}
footer[role="contentinfo"] #footerNav > nav > div > ul {
	margin-bottom: 20px;
	padding-left: 16px;
}
footer[role="contentinfo"] #footerNav > nav > div > ul + ul {
	margin-top: 10px;

}
footer[role="contentinfo"] #footerNav > nav > div > ul > li {
	line-height: 1.857;
}

footer[role="contentinfo"] #footerInfo {
	margin-top: 20px;
	font-size: 0.857em;
}
footer[role="contentinfo"] #footerInfo .infoNav {
	margin-bottom: 23px;
}
footer[role="contentinfo"] #footerInfo .infoNav > ul {
	width: 761px;
	margin-left: -18px;
}
footer[role="contentinfo"] #footerInfo .infoNav > ul > li {
	display: inline-block;
	position: relative;
	padding: 0 18px 3px;
}
footer[role="contentinfo"] #footerInfo .infoNav > ul > li > a:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 1em;
	margin-top: -0.5em;
	background: #c9c9c9;
}
footer[role="contentinfo"] #footerInfo #pcSite {
	display: none;
}
footer[role="contentinfo"] #footerInfo #resonaInfo {
	margin-bottom: 23px;
}
footer[role="contentinfo"] #footerInfo #resonaInfo * {
	display: inline-block;
}
footer[role="contentinfo"] #footerInfo #resonaInfo > dt {
	padding-right: 20px;
}
footer[role="contentinfo"] #footerInfo #resonaInfo > dd {
	color: #666;
}
footer[role="contentinfo"] #footerInfo #resonaInfo dd dl dt span {
	padding: 0 8px;
	border: 1px solid #b3b3b3;
}
footer[role="contentinfo"] #footerInfo #resonaInfo dd dl {
	margin-left: 30px;
}
footer[role="contentinfo"] #footerInfo #resonaInfo dd dl:first-child {
	margin-left: 0;
}
footer[role="contentinfo"] #footerInfo #resonaInfo dd dl dd {
	padding: 0 20px 0 9px;
}
footer[role="contentinfo"] #footerInfo #resonaInfo dd dl dd:last-child {
	padding-right: 0;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup {
	float: left;
	margin-bottom: 3px;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup  dd > ul > li {
	display: inline-block;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup  dd > ul > #footerLogoResona {
	margin-right: 10px;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup  dd > ul > #footerLogoSaitama {
	margin-right: 7px;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo .resonaGroup  dd > ul > li img {
	vertical-align: middle;
}
footer[role="contentinfo"] #footerInfo #resonaGroupInfo #copyRight {
	float: right;
	font-size: 1em;
}

/*-------------------------------------------
TopicPath
-------------------------------------------*/
#topicPath {
	width: 960px;
	margin: 10px auto 20px;
}
#topicPath > ul > li {
	display: inline-block;
	font-size: 0.857em;
}
#topicPath > ul > li:before {
	content: ">";
}
#topicPath > ul > li:first-child:before {
	content: "";
}
#topicPath > ul > li > * {
	margin-left: 5px;
}
#topicPath > ul > li > a {
}
#topicPath > ul > li > strong {
	font-weight: normal;
}
/*-------------------------------------------
Main Area
-------------------------------------------*/
#wrap #mainArea {
	position: relative;
	width: 940px;
	margin: 30px auto 60px;
}
#wrap #mainArea:before,
#wrap #mainArea:after {
	content: " ";
	display: table;
}
#wrap #mainArea:after {
	clear: both;
}
#wrap #mainArea {
	*zoom: 1;
}
#wrap #mainArea main.mainNarrow {
	float: left;
	width: 690px;
	margin-right: 30px;
}
#wrap #mainArea main.mainNarrow {
	float: left;
	width: 690px;
}
#wrap #mainArea main > section > section,
#wrap #mainArea main .contentBlockWrap {
	margin-top: 30px;
}
#wrap #mainArea main > section > h1 + section,
#wrap #mainArea main > h1 + .contentBlockWrap,
#wrap #mainArea main > .contentBlockWrap:first-child {
	margin-top: 0;
}
#wrap #mainArea #sideNav {
	float: right;
	width: 220px;
}

/*-------------------------------------------
sideNav
-------------------------------------------*/
#sideNav > * {
	margin-bottom: 10px;
}
#sideNav .guideArea,
#sideNav .sideInfo > ul  {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#sideNav .guideArea {
	background: #fff;
}
#sideNav a {
	color: #333;
}
#sideNav a:hover {
	color: #ed6d34;
}
#sideNav .guideArea h2 {
	text-align: center;
}
#sideNav .guideArea > * {
	padding: 10px 12px 10px;
	border-top: 1px solid #ccc;
}
#sideNav .guideArea .loginArea > div:last-child,
#sideNav .guideArea .loginArea > div > * {
	margin-bottom: 0;
}
#sideNav .guideArea > *:first-child {
	border-top: none;
}
#sideNav .guideMenu {
	padding: 0;
	background: #fff8dd;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-borderbottom-left--radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-borderbottom-right--radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .guideArea > .lastChild {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-borderbottom-left--radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-borderbottom-right--radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .guideMenu ul >li {
	border-top: 1px solid #d9d9d9;
}
#sideNav .guideMenu ul >li:first-child {
	border-top: none;
}
#sideNav .guideMenu ul >li > a {
	display: block;
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	color: #333;
}
#sideNav .guideMenu ul >li > a:hover {
	background: #fffbea;
	color: #838383;
}
#sideNav .shopGuide {
	background: #fff8dd;
}
#sideNav .sideInfo > ul  {
	background: #fff8dd;
}
#sideNav .sideInfo > ul + ul {
	margin-top: 10px;
}
#sideNav .sideInfo > ul > li > a {
	display: block;
	padding: 10px 6px;
	line-height: 1.1;
	border-top: 1px dotted #ccc;
	font-weight: bold;
	color: #333;
}
#sideNav .sideInfo > ul > li:first-child > a {
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
#sideNav .sideInfo > ul > li:last-child > a {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .sideInfo > ul > li > a:hover {
	background: #fffbea;
	color: #838383;
}
#sideNav .sideInfo > ul > li:first-child > a {
	border-top: none;
}
#sideNav .sideInfo > * {
	margin-top: 15px;
}
#sideNav .sideInfo > .sideBunnerList > ul > li {
	margin-top: 10px;
	text-align: center;
}
#sideNav .sideInfo > *:first-child,
#sideNav .sideInfo > .sideBunnerList > ul > li:first-child {
	margin-top: 0;
}
#sideNav .sideInfo *[class^="normalBlockA"] > .blockInner > .blockTitle {
	line-height: 1;
}
#sideNav .subNav .subCategoryTitle {
	background: #049849;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
#sideNav .subNav .subCategoryTitle > * {
	display: block;
	padding: 10px 12px;
	color: #fff;
	font-weight: bold;
}
#sideNav .subNav .subCategoryTitle > *[class^="glyph"] > span {
	padding-left: 27px;
}
#sideNav .subNav .subCategoryDetail {
	border: 1px solid #ccc;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy > li,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy {
	border-top: 1px solid #ccc;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li {
	border-top: 1px dotted #ccc;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy > li:first-child,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li:first-child {
	border: none;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy > li:last-child > a {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noLink,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a {
	display: block;
	padding: 5px 15px;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a {
	font-weight: bold;
	color: #333;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a:hover {
	color: #9b9b9b;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a.current,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a.current,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a.current {
	background: #e5f4ec;
	color: #01894d;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a.current:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a.current:hover,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a.current:hover {
	color: #84cda6;
}

#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a.current {
	background: #e5f4ec;
	color: #01894d;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dd {
	display: none;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dd[aria-expanded="true"] {
	display: block
}
#sideNav *[class^="btnT"] {
	margin-bottom: 0 !important;
}
#sideNav .guideArea > * > * + * {
	margin-top: 10px;
}
#sideNav .btnT01 {
	text-align: left;
}
/*-------------------------------------------
Template
-------------------------------------------*/
.simpleTempelate header[role="banner"]  #headerInner{
	background-position: right 4px top 17px;
}
.simpleTempelate header[role="banner"] {
	border-bottom: 10px solid #049849;
	position: relative;
}
.simpleTempelate header[role="banner"]:before {
	content:"";
	display: block;
	position: absolute;
	bottom: -14px;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgb(217,217,217);
	background: -moz-linear-gradient(top,  rgba(217,217,217,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,217,217,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(217,217,217,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,217,217,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,217,217,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,217,217,1) 0%,rgba(255,255,255,1) 100%);
}
.simpleTempelate header[role="banner"] #headerInner .logoWrap {
	float: none;
	width: auto;
}
.simpleTempelate header[role="banner"] #headerInner .logoWrap > p > strong {
	width: auto;
	height: auto;
}
/*footer_simple*/
.simpleTempelate footer[role="contentinfo"] {
	margin-bottom: 0;
	padding: 8px 0;
	line-height: 1;
	background: #049849;
	color: #fff;
	text-align: center;
}
.simpleTempelate footer[role="contentinfo"] #footerInfo {
	margin-top: 0;
}